#software code
.vscode
build_final_otf_sans/__pycache__
#testing code
weather_font/get_width.py
#copied code
build_final_otf_sans/rename-fonts-suffix.py
#original files
weather_font/SourceHanSansCN-Heavy.otf
weather_font/SourceHanSerifCN-Heavy.otf
weather_font/shs-maoken-low-wage.sfd
#intermediate files
build_final_otf_sans/FULL/font.pfa
build_final_otf_sans/FULL/font.CFF
build_final_otf_sans/FULL/cidfont.raw
build_final_otf_sans/SC/font-SC.pfa
build_final_otf_sans/SC/font-SC.CFF
build_final_otf_sans/SC/cidfont-SC.raw
#final font files
build_final_otf_sans/FULL/MaokenHeavyLabourer-Gothic-Regular.otf
build_final_otf_sans/FULL/MaokenHeavyLabourer-Gothic-Regular.ttf
build_final_otf_sans/SC/MaokenHeavyLabourerSC-Gothic-Regular.otf
build_final_otf_sans/SC/MaokenHeavyLabourerSC-Gothic-Regular.ttf